<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
<configSections>
    <section name="myUrl" type="MyUrlRewrite.MyUrlRewriteConfigSection,MyUrlRewrite"/>
</configSections>

<myUrl enabled="true" rebaseClientPath="true">
    <rule source="(.*)/Default.aspx" destination="Default.aspx?Folder=$1"/>
</myUrl>
  

    <system.web>
        <compilation debug="true" targetFramework="4.0"/>
        <httpModules>
            <add name="RewriteModule" type="MyUrlRewrite.RewriteModule, MyUrlRewrite"/>
        </httpModules>
    </system.web>

</configuration>
